/* 🔹 Отключаем зум браузера через клавиши CTRL + / - */
html {
  zoom: reset; /* Для IE */
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  background-color: #f4f4f4;
}

* {
  touch-action: pan-x pan-y; /* Отключаем двойное нажатие */
}

html, body {
  overflow: hidden; /* ❌ Убираем скролл у всей страницы */
  height: 100%;
  margin: 0;
  padding: 0;
}